{% if footer.footerContent|length %}

<div id="footer">
  {% for row in footer.footerContent.level(1) %}

  	{% if row.rowBgColor|trim|length %}
  		<div class="container-bg mx-0 mb-0 {% if row.topAligned %}align-top{% endif %}" style="background:{{ row.rowBgColor }};{% if row.rowTextColor|trim|length %}color:{{ row.rowTextColor }};{% endif %}">
  	{% elseif row.rowTextColor|trim|length %}
  		<div class="container-bg mx-0 mb-0 {% if row.topAligned %}align-top{% endif %}" style="color:{{ row.rowTextColor }};">
  	{% endif %}
  	{% if row.rowType == 'normal' %}
  		<div class="container-fluid">
  			<div class="row{% if row.classes|length %} {{ row.classes }}{% endif %}">
  	{% elseif row.rowType == 'masonry' %}
  		<div class="container-fluid">
  			<div class="row packery{% if row.classes|length %} {{ row.classes }}{% endif %}">
  	{% endif %}

  				{% for item in row.children %}
                    {% set blockOpen %}
                        <div class="{% include '_includes/col_classes' %}">
                            {% if interface.slideObjectsIntoView %}<div class="slide-object">{% endif %}
                                <div class="hv-item {{ item.moveHorizontal }} {{ item.moveVertical }}" style="z-index: {{ item.layer }};">
                                    <div class="move">
                    {% endset %}
                    {% set blockClose %}
                                    </div>
                                </div>
                            {% if interface.slideObjectsIntoView %}</div>{% endif %}
                        </div>
                    {% endset %}

  					{% switch item.type.handle %}
  						{% case 'text' %}
                            {{ blockOpen }}
                                {% include '_blocks/text' %}
                            {{ blockClose }}

  						{% case 'image' %}
                            {{ blockOpen }}
                                {% include '_blocks/image' %}
                            {{ blockClose }}

                        {% case 'spacer' %}
  							{% include '_blocks/spacer' %}

  						{% case 'separator' %}
  							{% include '_blocks/separator' %}

  						{% case 'clear' %}
  							<div class="clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>

                        {% case 'code' %}
                            {{ blockOpen }}
                                {% include '_blocks/code' %}
                            {{ blockClose }}

  					{% endswitch %}
  				{% endfor %}

  			</div></div>

  	{% if row.rowBgColor|trim|length %}</div>{% elseif row.rowTextColor|trim|length %}</div>{% endif %}

  {% endfor %}
</div>

{% endif %}
