{% macro customFont(selector, font, size) %}
  {% if font|length %}
    {{ selector }}, .{{ selector }} {
      font-family: {{ font|raw }};
      {% if size|length %}
        font-size: {{ size }};
      {% endif %}
    }
  {% elseif size|length %}
    {{ selector }}, .{{ selector }} {
      font-size: {{ size }};
    }
  {% endif %}
{% endmacro %}

{% macro customDisplayFont(selector, font, size) %}
  {% if font|length %}
    .{{ selector }} {
      font-family: {{ font|raw }};
      {% if size|length %}
        font-size: {{ size }};
      {% endif %}
    }
  {% elseif size|length %}
    .{{ selector }} {
      font-size: {{ size }};
    }
  {% endif %}
{% endmacro %}
