{% set page = craft.request.getSegment(1) %}
{% set nav = menu.mainMenu %}
{% set navSub = menu.subMenu %}

<nav>
{% if
  not menu.navigationType|length
%}
  {% include '_includes/nav_toggle' %}
{% elseif
  menu.navigationType == 'gridLeft' or
  menu.navigationType == 'gridLeftWide' or
  menu.navigationType == 'gridRight' or
  menu.navigationType == 'gridRightWide'
%}
  {% include '_includes/nav_grid' %}
{% elseif
  menu.navigationType == 'floatLeft' or
  menu.navigationType == 'floatLeftWide' or
  menu.navigationType == 'floatRight' or
  menu.navigationType == 'floatRightWide'
%}
  {% include '_includes/nav_float' %}
{% endif %}
</nav>
