<div id="menu-toggle">
  {% if not menu.menuToggleType|length %}
    <div id="menu-btn" class="link-thick">
      <span>menu</span>
      <span>close</span>
    </div>
  {% else %}
    <div id="menu-sandwich">
      <input type="checkbox" id="sandwich">
      <label class="menu-icon" for="sandwich">
        <span class="menu-icon-top">
          <span class="menu-icon-inner"></span>
        </span>
        <span class="menu-icon-bottom">
          <span class="menu-icon-inner"></span>
        </span>
      </label>
    </div>
  {% endif %}
</div>
