{% set page = craft.request.getSegment(1) %}
{% set nav = menu.mainMenu %}
{% set navSub = menu.subMenu %}

<div id="menu-slide">
    <div class="container-fluid flex-container">
        <div class="row">
            {% if nav|length or navSub|length %}
                <div class="col-12 col-lg-5 col-xl-5">
                    <nav>
                        {% if nav|length %}
                            <ul class="nav mb-2 h2">
                                {% for item in nav %}
                                    {% switch item.type.handle %}

                                    {% case "entry" %}
                                        <li{% if item.entry.first().slug == page or item.entry.first().url == craft.request.getUrl() %} class="link-active"{% endif %}>
                                            <a href="{{ item.entry.first().url }}" class="link-thick" title="{% if item.overrideName %}{{ item.overrideName }}{% else %}{{ item.entry.first().title }}{% endif %}">{% if item.overrideName %}{{ item.overrideName }}{% else %}{{ item.entry.first().title }}{% endif %}</a>
                                        </li>

                                    {% case "hyperlink" %}
                                        <li>
                                            <a href="{{ item.hyperlink }}" class="link-thick" title="{{ item.hyperlinkName }}"{% if item.hyperlinkTarget %} target="_blank"{% endif %}>{{ item.hyperlinkName }}</a>
                                        </li>

                                    {% endswitch %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if navSub|length %}
                            <ul class="nav h5">
                                {% for item in navSub %}
                                    {% switch item.type.handle %}

                                    {% case "entry" %}
                                        <li{% if item.entry.first().slug == page or item.entry.first().url == siteUrl %} class="link-active"{% endif %}>
                                            <a href="{{ item.entry.first().url }}" class="link-thick" title="{% if item.overrideName %}{{ item.overrideName }}{% else %}{{ item.entry.first().title }}{% endif %}">{% if item.overrideName %}{{ item.overrideName }}{% else %}{{ item.entry.first().title }}{% endif %}</a>
                                        </li>

                                    {% case "hyperlink" %}
                                        <li>
                                            <a href="{{ item.hyperlink }}" class="link-thick" title="{{ item.hyperlinkName }}"{% if item.hyperlinkTarget %} target="_blank"{% endif %}>{{ item.hyperlinkName }}</a>
                                        </li>


                                    {% endswitch %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            {% endif %}
            {% if menu.menuContent|length %}
                <div class="col-12 col-lg-7 col-xl-7">
                    {{ menu.menuContent }}
                </div>
            {% endif %}
  	    </div>
    </div>
</div>
<div id="page-cover"></div>
