<div class="row">
  <div class="col-xs-10{% if
    header.navigationType == 'floatLeft' or
    header.navigationType == 'floatRight'
  %}
    col-lg-6
  {% else %}
    col-lg-3
  {% endif %}">
    <a id="logo" class="link-thick" href="{{ url('/') }}">{%- include "_images/logo" with {'class': 'logo'} -%}</a>
  </div>

  <div class="hidden-md-down
  {% if
    header.navigationType == 'floatLeft' or
    header.navigationType == 'floatRight'
  %} col-lg-6{% else
  %} col-lg-9{% endif %}">

    {% macro addNodeToNavigation(node, index) %}
      {%- set nodeClasses = [] -%}
      {%- if node.hasChildren -%}
          {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
      {%- endif -%}
      {%- if node.active or node.hasActiveChild -%}
          {%- set nodeClasses = nodeClasses|merge(['link-active']) -%}
      {%- endif -%}
      {%- if node.level == 1 and index == 1 -%}
          {%- set nodeClasses = nodeClasses|merge(['first']) -%}
      {%- endif -%}
      {%- if node.listClass|length -%}
          {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
      {%- endif -%}

      <div class="py-0 float-xs-left {% if nodeClasses|length %}{{ nodeClasses|join(' ') }}{% endif %}{% if header.navigationType == 'floatRight' or header.navigationType == 'floatRightWide' %} text-xs-right float-xs-right pl-3{% else %} pr-3{% endif %}">
        <a href="{{ node.url }}" class="link-thick" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
          {% if node.hasChildren %}
            <div class="nav__level{{ (node.level + 1) }}">
              {% for subnode in node.children %}
                {{ _self.addNodeToNavigation(subnode, loop.index) }}
              {% endfor %}
            </div>
          {% endif %}
      </div>
    {% endmacro %}

  {% if header.navigationType == 'floatLeft' or header.navigationType == 'girdLeftWide' %}
    {% set first = nav %}
    {% set second = navSub %}
  {% else %}
    {% set first = navSub|reverse %}
    {% set second = nav|reverse %}
  {% endif %}

    {% if nav|length or navSub|length %}
        {% if nav|length %}
          {% for node in first %}
            {{ _self.addNodeToNavigation(node, loop.index) }}
          {% endfor %}
        {% endif %}
        {% if navSub|length %}
          {% for node in second %}
              {{ _self.addNodeToNavigation(node, loop.index) }}
          {% endfor %}
        {% endif %}
    {% endif %}

  </div>

  <div class="col-xs-2 hidden-lg-up">
    {% include '_includes/nav_toggler' %}
  </div>
</div>
