{% set page = craft.request.getSegment(1) %}
{% set nav = craft.amNav.getNavRaw("mainMenu") %}
{% set navSub = craft.amNav.getNavRaw("subMenu") %}

<div id="menu-slide">
  <div class="container-fluid flex-container">
    <div class="row">

      <div class="col-xs-12 col-lg-5 col-xl-5">
        {% macro addNodeToNavigation(node, index) %}
          {%- set nodeClasses = [] -%}
          {%- if node.hasChildren -%}
              {%- set nodeClasses = nodeClasses|merge(['has-children']) -%}
          {%- endif -%}
          {%- if node.active or node.hasActiveChild -%}
              {%- set nodeClasses = nodeClasses|merge(['link-active']) -%}
          {%- endif -%}
          {%- if node.level == 1 and index == 1 -%}
              {%- set nodeClasses = nodeClasses|merge(['first']) -%}
          {%- endif -%}
          {%- if node.listClass|length -%}
              {%- set nodeClasses = nodeClasses|merge([node.listClass]) -%}
          {%- endif -%}

          <li{% if nodeClasses|length %} class="{{ nodeClasses|join(' ') }} "{% endif %}>
            <a href="{{ node.url }}" class="link-thick" title="{{ node.name }}"{% if node.blank %} target="_blank"{% endif %}>{{ node.name }}</a>
              {% if node.hasChildren %}
                <ul class="nav__level{{ (node.level + 1) }}">
                  {% for subnode in node.children %}
                    {{ _self.addNodeToNavigation(subnode, loop.index) }}
                  {% endfor %}
                </ul>
              {% endif %}
          </li>
        {% endmacro %}

        {% if nav|length or navSub|length %}
          <nav>
            {% if nav|length %}
              <ul class="nav mb-2 h2">
                {% for node in nav %}
                  {{ _self.addNodeToNavigation(node, loop.index) }}
                {% endfor %}
              </ul>
            {% endif %}
            {% if navSub|length %}
              <ul class="nav h5">
                {% for node in navSub %}
                  {{ _self.addNodeToNavigation(node, loop.index) }}
                {% endfor %}
              </ul>
            {% endif %}
          </nav>
        {% endif %}
      </div>

      {% if menu.menuContent|length %}
        <div class="col-xs-12 col-lg-7 col-xl-7">
          {{ menu.menuContent }}
        </div>
      {% endif %}

  	</div>
  </div>
</div>
<div id="page-cover"></div>
