{% set bgColor = entry.backgroundColor %}
{% set textColor = entry.textColor %}
{% set linkColor = entry.linkColor %}
{% set linkHoverColor = entry.linkHoverColor %}
{% set backgroundImage = entry.backgroundImage %}
{% set backgroundSize = entry.siteBackgroundSize %}
{% set backgroundPosition = entry.backgroundPosition %}
{% set backgroundRepeat = entry.backgroundRepeat %}
{% set backgroundAttachment = entry.backgroundAttachment %}

{% if (bgColor|trim|length or textColor|trim|length or linkColor|trim|length or linkHoverColor|trim|length) or backgroundImage|length  %}
  {% set styling = true %}
  <style>
    {% if bgColor|trim|length %}
      body {
        background-color: {{ bgColor }};
        {% if textColor|trim|length %}
          color: {{ textColor }} !important;
        {% endif %}
        {% if backgroundImage|length %}
            background-image: url("{{ siteUrl ~ backgroundImage.first().getUrl() }}");
        {% endif %}
        {% if backgroundSize|length %}
            background-size: {% if backgroundSize == "fitWidth" %}100% {% elseif layout.siteBackgroundSize == "fitHeight" %}auto 100%{% endif %};
        {% endif %}
        {% if backgroundPosition|length %}
            background-position: {{ backgroundPosition }};
        {% endif %}
        {% if backgroundRepeat|length %}
            background-repeat: {{ backgroundRepeat }};
        {% endif %}
        {% if backgroundAttachment|length %}
            background-attachment: {{ backgroundAttachment }};
        {% endif %}
      }

      .has-styling #block {
        background-color: {{ bgColor }} !important;
      }
    {% elseif textColor|trim|length %}
      body {
        color: {{ textColor }} !important;
        {% if backgroundImage|length %}
            background-image: url("{{ siteUrl ~ backgroundImage.first().getUrl() }}");
        {% endif %}
        {% if backgroundSize|length %}
            background-size: {% if backgroundSize == "fitWidth" %}100% {% elseif backgroundSize == "fitHeight" %}auto 100%{% endif %};
        {% endif %}
        {% if backgroundPosition|length %}
            background-position: {{ backgroundPosition }};
        {% endif %}
        {% if backgroundRepeat|length %}
            background-repeat: {{ backgroundRepeat }};
        {% endif %}
        {% if backgroundAttachment|length %}
            background-attachment: {{ backgroundAttachment }};
        {% endif %}
      }
    {% elseif backgroundImage|length %}
        body {
            {% if backgroundImage|length %}
                background-image: url("{{ siteUrl ~ backgroundImage.first().getUrl() }}");
            {% endif %}
            {% if backgroundSize|length %}
                background-size: {% if backgroundSize == "fitWidth" %}100% {% elseif backgroundSize == "fitHeight" %}auto 100%{% endif %};
            {% endif %}
            {% if backgroundPosition|length %}
                background-position: {{ backgroundPosition }};
            {% endif %}
            {% if backgroundRepeat|length %}
                background-repeat: {{ backgroundRepeat }};
            {% endif %}
            {% if backgroundAttachment|length %}
                background-attachment: {{ backgroundAttachment }};
            {% endif %}
        }
    {% endif %}
    {% if linkColor|trim|length %}
      a, #header a, #menu-btn, #header .nav-item svg {
        color: {{ linkColor }} !important;
        fill: {{ linkColor }} !important;
      }
      #change a:after, #change .link-thick:after, #header a:after, #menu-btn:after {
        background: {{ linkColor }} !important;
      }
      #sandwich:not(:checked) ~ .menu-icon .menu-icon-inner {
        background: {{ linkColor }} !important;
      }
    {% endif %}
    {% if linkHoverColor|trim|length %}
      #change a:hover, #header a:hover, #menu-btn:hover {
        color: {{ linkHoverColor }} !important;
        fill: {{ linkHoverColor }} !important;
      }
      #change a:hover:after, #change .link-thick:hover:after, #change .link-thick:hover:after, #header a:hover:after, #menu-btn:hover:after, #menu-normal ul.nav li.active a:hover:after {
        background: {{ linkHoverColor }} !important;
      }
      .menu-open #menu-btn span, .menu-open #sandwich:checked ~ .menu-icon .menu-icon-inner {
        color: #222222 !important;
      }
      .menu-open #menu-btn:after {
        background: #222222 !important;
      }
      .menu-open #menu-btn:hover {
        color: #222222 !important;
      }
      .menu-open #menu-btn:hover:after {
        background: #222222 !important;
      }
      #menu-slide {
        color: #222222 !important;
      }
      #menu-slide a {
        color: #222222 !important;
      }
    {% endif %}
  </style>
  <div id="block" class="is-entering" {% if styling %}data-styling="{{ styling }}"{% endif %}></div>

{% else %}

  <div id="block" class="is-entering"></div>

{% endif %}
