# Craft Storage (cache) [http://buildwithcraft.com/help/craft-storage-gitignore]
# ------------------------------------------------------------
/craft/app/
/craft/storage/*
!/craft/storage/.htaccess
!/craft/storage/logo/*


# LOCAL CONFIG SETTINGS
# Exclude local config files so we don't overwrite other local setups.
# Leave example files that can be renamed to get setup
# ------------------------------------------------------------
craft/config/local/*


# MISC FILES
# ------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-workspace
*.sublime-project
_notes
dwsync.xml
logs/*
node_modules
License.key
license.key
*.scss*
