{% set page = craft.request.getSegment(1) %}
{% set nav = craft.amNav.getNavRaw("mainMenu") %}
{% set navSub = craft.amNav.getNavRaw("subMenu") %}

<nav style="font-weight: 500;">
{% if
  not header.navigationType|length
%}
  {% include '_includes/nav_toggle' %}
{% elseif
  header.navigationType == 'gridLeft' or
  header.navigationType == 'gridLeftWide' or
  header.navigationType == 'gridRight' or
  header.navigationType == 'gridRightWide'
%}
  {% include '_includes/nav_grid' %}
{% elseif
  header.navigationType == 'floatLeft' or
  header.navigationType == 'floatLeftWide' or
  header.navigationType == 'floatRight' or
  header.navigationType == 'floatRightWide'
%}
  {% include '_includes/nav_float' %}
{% endif %}
</nav>
