{% set params = craft.entries.section('work') %}

{% set nextEntry = entry.getNext(params) %}
{% set prevEntry = entry.getPrev(params) %}
<div class="container-fluid next-prev">
  <div class="row">
    {% if nextEntry and prevEntry %}
      <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 offset-md-1">
        <a href="{{ prevEntry.url }}" class="link-thick">Prev: {{ prevEntry.title }}</a>
      </div>
      <div class="col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 text-sm-right">
        <a href="{{ nextEntry.url }}" class="link-thick">Next: {{ nextEntry.title }}</a>
      </div>
    {% elseif prevEntry %}
      <div class="col-12 col-md-5 col-lg-5 col-xl-5 offset-md-1">
        <a href="{{ prevEntry.url }}" class="link-thick">Prev: {{ prevEntry.title }}</a>
      </div>
    {% elseif nextEntry %}
      <div class="col-12 col-md-5 col-lg-5 col-xl-5 offset-md-6 text-sm-right">
        <a href="{{ nextEntry.url }}" class="link-thick">Next: {{ nextEntry.title }}</a>
      </div>
    {% endif %}
  </div>
</div>
