.bleed-left {
    margin-left: -($grid-gutter-width-base * 1.5);
}
.bleed-right {
    margin-right: -($grid-gutter-width-base * 1.5);
}
.bleed-both {
    margin: 0 (-$grid-gutter-width-base * 1.5);
}
.bleed-padding {
    .bleed-left {
        margin-left: -$grid-gutter-width-base;
    }
    .bleed-right {
        margin-right: -$grid-gutter-width-base;
    }
    .bleed-both {
        margin: 0 -$grid-gutter-width-base;
    }
}

@include media-breakpoint-down(md) {
  .bleed-left {
      margin-left: -$grid-gutter-width-base;
  }
  .bleed-right {
      margin-right: -$grid-gutter-width-base;
  }
  .bleed-both {
    margin: 0 -$grid-gutter-width-base;
    padding: $grid-gutter-width-base 0;
  }
  .bleed-padding {
      .bleed-left {
          margin-left: -($grid-gutter-width-base / 2);
          margin-right: -($grid-gutter-width-base / 2);
      }
      .bleed-right {
          margin-right: -($grid-gutter-width-base / 2);
          margin-left: -($grid-gutter-width-base / 2);
      }
      .bleed-both {
          margin: 0 -($grid-gutter-width-base / 2);
      }
  }
}
@include media-breakpoint-down(sm) {
  .bleed-left {
      margin-left: -($grid-gutter-width-base / 2);
      margin-right: -($grid-gutter-width-base / 2);
  }
  .bleed-right {
    margin-left: -($grid-gutter-width-base / 2);
      margin-right: -($grid-gutter-width-base / 2);
  }
  .bleed-both {
    margin: 0 -($grid-gutter-width-base / 2);
    padding: ($grid-gutter-width-base / 2) 0;
  }
  .bleed-padding {
      .bleed-left {
          margin-left: 0;
          margin-right: 0;
      }
      .bleed-right {
          margin-right: 0;
          margin-left: 0;
      }
      .bleed-both {
          margin: 0;
      }
  }
}
