//
// Image loader
//

.slide-spinn {
    background: transparent;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 99;
    border-top: 5px solid rgba(128, 128, 128, 0.25);
    border-right: 5px solid rgba(128, 128, 128, 0.25);
    border-bottom: 5px solid;
    border-left: 5px solid;
    animation: loadr 1s infinite linear;
    -webkit-animation: load 1s infinite linear;
    -moz-animation: load 1s infinite linear;
}


//
// Page loader
//

#pageloader.Type-1 {
    display: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: transparent;
    border-top: 20px solid rgba(128, 128, 128, 0.25) !important;
    border-right: 20px solid rgba(128, 128, 128, 0.25) !important;
    border-bottom: 20px solid;
    border-left: 20px solid;
    position: fixed;
    margin: -40px 0 0 -40px;
    top: 50%;
    left: 50%;
    z-index: 99999;
    animation: load 1s infinite linear;
    -webkit-animation: load 1s infinite linear;
    -moz-animation: load 1s infinite linear;
}
@keyframes load {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes load {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes load {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
