//
// Image loader
//

.slide-spin {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-top: 5px solid rgba(127, 127, 127, 0.25);
    border-right: 5px solid rgba(127, 127, 127, 0.25);
    border-bottom: 5px solid;
    border-left: 5px solid;
    animation: spin 1s infinite linear;
}


//
// Page loader
//
#pageloader {
  pointer-events: none;
  position: fixed;
  display: none;
  z-index: 99999;
  width: 5rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  margin: -2.5rem 0 0 -2.5rem;
  &.type-1 {
      border-radius: 50%;
      background: transparent;
      border-top: 1.25rem solid rgba(127, 127, 127, 0.25) !important;
      border-right: 1.25rem solid rgba(127, 127, 127, 0.25) !important;
      border-bottom: 1.25rem solid;
      border-left: 1.25rem solid;
      animation: spin 1s infinite linear;
  }
  &.type-2 {
    line-height: 5rem;
    text-align: center;
    font-size: 2.5rem;
    transform-style: preserve-3d;
    transition: transform 0.5s 0.1s;
    // perspective: 9999px;
    color: #222;
    &.panelLoad {
      animation: panel 2.2s infinite forwards;
      .cube-face {
        color: black;
        box-shadow: inset 0 0 0 2px #000, 0 0 1px 1px #000;
      }
    }
    .cube-face {
      width: inherit;
      height: inherit;
      position: absolute;
      background: rgba(255,255,255,0.75);
      box-shadow: inset 0 0 0 2px #222, 0 0 1px 1px #222;
    }
    .cube-face-front {
      transform: translate3d(0, 0, 2.5rem);
      font-size: 3rem;
    }
    .cube-face-back {
      transform: rotateY(180deg) translate3d(0, 0, 2.5rem);
    }
    .cube-face-left {
      transform: rotateY(-90deg) translate3d(0, 0, 2.5rem);
    }
    .cube-face-right {
      transform: rotateY(90deg) translate3d(0, 0, 2.5rem);
    }
    .cube-face-top {
      transform: rotateX(90deg) translate3d(0, 0, 2.5rem);
      font-size: 3rem;
    }
    .cube-face-bottom {
      transform: rotateX(-90deg) translate3d(0, 0, 2.5rem);
    }
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes panel {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  20% {
   transform: rotateY(90deg) rotateZ(0deg);
  }
  40% {
   transform: rotateX(45deg) rotateZ(45deg);
  }
  60% {
   transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }
  80% {
   transform: rotateX(310deg) rotateZ(230deg)
  }
  100% {
   transform: rotateX(360deg) rotateZ(360deg)
  }
}
