//
// Menu Styles
//

$time: 0.8s;
$easing: cubic-bezier(.2,1,.23,1);

#menu-toggle {
  pointer-events: auto;
  top: 50%;
  float: right;
  z-index: 9998;
}

//
// Text
//
#menu-btn {
  position: relative;
  cursor: pointer;
  width: 40px;
  margin: 0 0 5px;
  color: $link-color;
  overflow: hidden;
  span {
    position: relative;
    top: 0;
    display: block;
    text-align: center;
    transition: transform $time $easing 0s;
  }
  &>span:last-child {
    position: absolute;
    bottom: 2px;
    left: 100%;
    width: 100%;
  }
}

#menu-btn.open {
  color: $link-color !important;
  &:after {
      background: $link-color !important;
  }
  &:hover:after {
      background: $link-color !important;
  }
}

//
// Sandwich
//
$sandwichTime: 0.3s;
$size: 48px;
$barHeight: 5px;

#menu-sandwich {
  backface-visibility: hidden;
  position: relative;
  top: -($size / 5);
  input {
    display: none !important;
    width: $size;
    height: $size;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.menu-icon {
  width: $size;
  height: $size;
  cursor: pointer;
  position: relative;
  z-index: 3;
  transition: transform $sandwichTime $easing;
}
.menu-icon-top, .menu-icon-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: $size;
  height: $size;
  transition: transform $sandwichTime $easing;
}
.menu-icon-top, .menu-icon-bottom {
  .menu-icon-inner {
    transition: transform $sandwichTime $easing;
    display: block;
    height: $barHeight;
    width: $size;
    background: #fff;
    position: absolute;
    left: 0;
  }
}
.menu-icon-top {
  .menu-icon-inner {
    top: (($size / 2) - $barHeight);
    background: #000;
    transition: transform $sandwichTime $easing;
    transform: translateY(-$barHeight);
  }
}
.menu-icon-bottom {
  .menu-icon-inner {
    bottom: (($size / 2) - $barHeight);
    background: #000;
    transform: translateY($barHeight);
  }
}
#sandwich:checked ~ .menu-icon {
  transform: rotate(-90deg);
  .menu-icon-top {
    transition: transform $sandwichTime $easing;
    transform: rotate(45deg);
    .menu-icon-inner {
      transform: translateY(2.5px);
      transition: transform $sandwichTime $easing;
    }
  }
  .menu-icon-bottom {
    transition: transform $sandwichTime $easing;
    transform: rotate(-45deg);
    .menu-icon-inner {
      transform: translateY(-($barHeight / 2));
      transition: transform $sandwichTime $easing;
    }
  }
}

//
// Menu
//
#menu-slide {
  display: flex;
  align-items: center;
  position: fixed;
  padding: ($grid-gutter-width-base * 1.5);
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  background: white;
  z-index: 9997;
  visibility: hidden;
  transform: translateX(100%);
  transition: all $time $easing 0s;
  ul.nav {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    width: 100%;
    li {
      margin: 0;
    }
  }
  hr {
  	margin: ($spacer-y * 1) 0;
  }
}

//
// Menu open
//

#change {
  transition: all $time $easing 0s;
}

#page-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background: #000;
  cursor: pointer;
  z-index: 9996;
  transition: opacity .5s $easing, visibility .5s steps(1,end);
}

.menu-open {
  #change {
  	-webkit-transform: translate3d(-30%, 0, 0);
  	transform: translate3d(-30%, 0, 0);
  }
  #menu-btn {
    span {
      transform: translateX(-100%);
    }
  }
  #menu-slide {
    visibility: visible;
    transform: translateX(0);
  }
  #page-cover {
    opacity: .3;
    visibility: visible;
    transition: opacity .6s $easing, visibility .6s steps(1,start);
  }
  #logo {
    opacity: 0;
    transition: opacity .5s $easing, visibility .5s steps(1,end);
  }
}

@include media-breakpoint-down(sm) {
  body {
    #menu-slide {
      width: 90%;
    }
  }
}
@include media-breakpoint-down(lg) {
  body {
    #menu-slide {
      padding: 0;
    }
  }
}
