// Framework move generation

.hv-item {
    position: relative;

    // &:hover {
    //   z-index: 997 !important;
    // }
}

$move: 5%;
$move-distances: 20;

@include media-breakpoint-down(md) {
 @for $i from 0 through $move-distances {
    .h-g-#{$i} {
      transform: translateX( 0 );
    }
    .h-n-g-#{$i} {
      transform: translateX( 0 );
    }
    .v-g-#{$i} .move {
      transform: translateY( 0 );
    }
    .v-n-g-#{$i} .move {
      transform: translateY( 0 );
    }
  }
}

@include media-breakpoint-up(md) {
  @for $i from 0 through $move-distances {
    .h-g-#{$i} {
      transform: translateX( ( $move * $i ) );
    }
    .h-n-g-#{$i} {
      transform: translateX( - ( $move * $i ) );
    }
    .v-g-#{$i} .move {
      transform: translateY( ( $move * $i ) );
    }
    .v-n-g-#{$i} .move {
      transform: translateY( - ( $move * $i ) );
    }
  }
}
