@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#block {
  transition: opacity ease-in 0.5s, visibility 0s 0.5s;
  opacity: 0;
  visibility: hidden;
}
.is-exiting #block {
  transition: opacity ease-in 0.5s, visibility 0s 0s;
  opacity: 1;
  visibility: visible;
}
.is-entering #block {
  opacity: 1;
  visibility: visible;
}
.has-styling {
  #block {
    transition: background ease-in 0.2s, opacity ease-in 0.5s 0.2s, visibility 0s 0.7s;
  }
  #header a, #menu-btn {
    transition: color ease-in 0.2s, fill ease-in 0.2s;
  }
}

.is-loading,
.is-loading a {
  cursor: progress;
}
#header a {
  transition: all linear 0.2s !important;
}
