$time: 0.6s;
$easing: cubic-bezier(.19,1,.22,1);
$bgcolor: rgba(0, 0, 0, 0.85);
$bgcolorlight: rgba(255, 255, 255, 0.2);

.video {
  width: 100%;
  height: auto;
  font-weight: 500;
}

.mejs-offscreen {
  // Accessibility: hide screen reader texts (and prefer "top" for RTL languages).  Reference: http://blog.rrwd.nl/2015/04/04/the-screen-reader-text-class-why-and-how/
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 - no likey commas */
	clip: rect(1px, 1px, 1px, 1px); /* IE8-IE11 - we likey commas, no support for clip-path */
	clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.mejs-fill-container, .mejs-container{
    	width: 100%;
    	height: 100%;
}

.mejs-fill-container {
    	overflow: hidden;
}

.mejs-container:focus {
	outline: none;
}

.me-plugin {
	position: absolute;
}

.mejs-embed, .mejs-embed body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000;
	overflow: hidden;
}

.mejs-fullscreen {
	/* set it to not show scroll bars so 100% will work */
	overflow: hidden !important;
}

.mejs-container-fullscreen {
  position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 1000;
  .mejs-mediaelement,
  .mejs-container-fullscreen video {
  	width: 100%;
  	height: 100%;
  }
}

.mejs-clear {
	clear: both;
}

// Layers
.mejs-background {
	position: absolute;
	top: 0;
	left: 0;
}

.mejs-mediaelement {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mejs-poster {
	position: absolute;
	top: 0;
	left: 0;
	background-size: contain ;
	background-position: 50% 50% ;
	background-repeat: no-repeat ;
}
:root .mejs-poster img {
	display: none ;
}

.mejs-poster img {
	border: 0;
	padding: 0;
}

.mejs-overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.mejs-overlay-play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6rem !important;
  height: 6rem !important;
  margin: -3rem 0 0 -3rem;
  background: $bgcolor;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
  line-height: 6rem;
  text-align: center;
  transition: color $time $easing;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    transition: transform $time $easing;
    z-index: 1;
  }
  &:hover {
    color: #000;
    &:before {
      transform: scale3d(1.02, 1.02, 1.02)
    }
  }
  .mejs-overlay-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6rem;
    height: 6rem;
    margin: -3rem 0 0 -3rem;
    z-index: 2;
    &:before {
      content: "play"
    }
  }
}

.no-svg .mejs-overlay-button {
	background-image: url("bigplay.png");
}


.mejs-overlay-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  animation: load 1s infinite linear;
  span {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: transparent;
    border-top: 20px solid transparent !important;
    border-right: 20px solid transparent !important;
    border-bottom: #fff 20px solid;
    border-left: #fff 20px solid;
    position: fixed;
    z-index: 99999;
  }
}
// Layers End

.mejs-container {
  position: relative;
  min-width: 150px;
  background: none;
  text-align: left;
  vertical-align: top;
  // Control Bar
  .mejs-controls {
    position: absolute;
    margin: 0 0 0 -30%;
    padding: 0;
    left: 50%;
    bottom: 22px;
    height: 32px;
    width: 60%;
    list-style: none;
    div {
    	list-style-type: none;
    	background-image: none;
    	display: block;
    	float: left;
    	margin: 0;
    	padding: 0;
    	width: 26px;
    	height: 26px;
    	font-size: 11px;
    	line-height: 11px;
    	border: 0;
    }
    .mejs-button {
      cursor: pointer;
      background: $bgcolor;
      transition: all $time $easing;
      height: 100%;
      min-width: 4rem;
      line-height: 32px;
      text-align: center;
      color: #fff;
      transition: all $time $easing;
      button {
        position: relative;
        top: -100%;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      	cursor: pointer;
      	display: block;
      	font-size: 0;
      	line-height: 0;
      	text-decoration: none;
      	border: 0;
        background: transparent;
        &:focus {
          outline: 0;
        }
        &:before {
          position: absolute;
          height: 100%;
          width: 100%;
        }
      }
      &:hover {
        color: #000;
        background-color: #fff;
      }
    }
    // Play
    .mejs-play {
      &:before {
        content: 'play';
      }
    }
    // Pause
    .mejs-pause {
      &:before {
        content: 'pause';
      }
    }
    // Stop
    .mejs-stop {
      &:before {
        content: 'stop';
      }
    }
    // Fullscreen
    .mejs-fullscreen-button {
      width: 5rem;
      &:before {
        content: 'fullscreen';
      }
    }
    .mejs-unfullscreen {
      &:before {
        content: 'close';
      }
    }
    // Loop
    .mejs-loop-off {
      button {
      	background-position: -64px -16px;
      }
    }
    .mejs-loop-on {
      button {
      	background-position: -64px 0;
      }
    }
    // Backlight
    .mejs-backlight-off {
      button {
      	background-position: -80px -16px;
      }
    }
    .mejs-backlight-on {
      button {
      	background-position: -80px 0;
      }
    }
    // Picture Controls
    .mejs-picturecontrols-button {
    	background-position: -96px 0;
    }
    // Source Chooser
    .mejs-sourcechooser-button {
    	position: relative;
      button {
      	background-position: -128px 0;
      }
      .mejs-sourcechooser-selector {
      	position: absolute;
      	bottom: 26px;
      	right: -10px;
      	width: 130px;
      	height: 100px;
      	background: url("background.png");
      	background: rgba(50,50,50,0.7);
      	border: solid 1px transparent;
      	padding: 10px;
      	overflow: hidden;
      	-webkit-border-radius: 0;
      	-moz-border-radius: 0;
      	border-radius: 0;
        ul {
        	margin: 0;
        	padding: 0;
        	display: block;
        	list-style-type: none !important;
        	overflow: hidden;
          li {
          	margin: 0 0 6px 0;
          	padding: 0;
          	list-style-type: none !important;
          	display: block;
          	color: #fff;
          	overflow: hidden;
            input {
            	clear: both;
            	float: left;
            	margin: 3px 3px 0 5px;
            }
            label {
            	width: 100px;
            	float: left;
            	padding: 4px 0 0 0;
            	line-height: 15px;
            	font-family: "Helvetica", Arial, serif;
            	font-size: 10px;
            }
          }
        }
      }
    }
    // Jump Forward
    .mejs-button.mejs-jump-forward-button {
    	background: transparent url("jumpforward.png") no-repeat 3px 3px;
      button {
      	background: transparent;
      	font-size: 9px;
      	line-height: normal;
      	color: #ffffff;
      }
    }
    // Skip Back
    .mejs-button.mejs-skip-back-button {
    	background: transparent url("skipback.png") no-repeat 3px 3px;
      button {
      	background: transparent;
      	font-size: 9px;
      	line-height: normal;
      	color: #ffffff;
      }
    }
    // Mute/Volume
    .mejs-mute {
      button {
      	background-position: -16px -16px;
      }
    }
    .mejs-unmute {
      button {
      	background-position: -16px 0;
      }
    }
    .mejs-volume-button {
      display: none !important;
    	position: relative;
      .mejs-volume-slider {
      	display: none;
      	height: 115px;
      	width: 25px;
      	background: url("background.png");
      	background: rgba(50, 50, 50, 0.7);
      	-webkit-border-radius: 0;
      	-moz-border-radius: 0;
      	border-radius: 0;
      	top: -115px;
      	left: 0;
      	z-index: 1;
      	position: absolute;
      	margin: 0;
        .mejs-volume-total {
        	position: absolute;
        	left: 11px;
        	top: 8px;
        	width: 2px;
        	height: 100px;
        	background: #ddd;
        	background: rgba(255, 255, 255, 0.5);
        	margin: 0;
        }
        .mejs-volume-current {
        	position: absolute;
        	left: 11px;
        	top: 8px;
        	width: 2px;
        	height: 100px;
        	background: #ddd;
        	background: rgba(255, 255, 255, 0.9);
        	margin: 0;
        }
        .mejs-volume-handle {
        	position: absolute;
        	left: 4px;
        	top: -3px;
        	width: 16px;
        	height: 6px;
        	background: #ddd;
        	background: rgba(255, 255, 255, 0.9);
        	cursor: N-resize;
        	-webkit-border-radius: 1px;
        	-moz-border-radius: 1px;
        	border-radius: 1px;
        	margin: 0;
        }
      }
      &:hover {
      	-webkit-border-radius: 0 0 4px 4px;
      	-moz-border-radius: 0 0 4px 4px;
      	border-radius: 0 0 4px 4px;
      }
    }
    // Horizontal Version
    a.mejs-horizontal-volume-slider {
      height: 100%;
      width: 4rem;
    	position: relative;
      display: block;
      float: left;
      vertical-align: middle;
      background: $bgcolor;
      &:hover .mejs-horizontal-volume-current {
        // background: #ffff00;
      }
    }
    .mejs-horizontal-volume-slider {
      position: relative;
      height: 100%;
      width: 100%;
      .mejs-horizontal-volume-total {
        position: absolute;
      	left: 11px;
      	top: 11px;
      	width: 40px;
      	height: 10px;
        background: $bgcolorlight;
      }
      .mejs-horizontal-volume-current {
  	    position: absolute;
      	left: 11px;
      	top: 11px;
      	width: 40px;
      	height: 10px;
      	background: #fff;
      }
      .mejs-horizontal-volume-handle {
      	display: none;
      }
    }
    // Track (Captions and Chapters)
    .mejs-captions-button {
    	position: relative;
      button {
      	background-position: -48px 0;
      }
      .mejs-captions-selector {
      	visibility: hidden;
      	position: absolute;
      	bottom: 26px;
      	right: -51px;
      	width: 85px;
      	height: 100px;
      	background: url("background.png");
      	background: rgba(50,50,50,0.7);
      	border: solid 1px transparent;
      	padding: 10px 10px 0 10px;
      	overflow: hidden;
      	border-radius: 0;
        ul {
        	margin: 0;
        	padding: 0;
        	display: block;
        	list-style-type: none !important;
        	overflow: hidden;
          li {
          	margin: 0 0 6px 0;
          	padding: 0;
          	list-style-type: none !important;
          	display: block;
          	color: #fff;
          	overflow: hidden;
            input {
            	clear: both;
            	float: left;
            	margin: 3px 3px 0 5px;
            }
            label {
            	width: 55px;
            	float: left;
            	padding: 4px 0 0 0;
            	line-height: 15px;
            	font-family: "Helvetica", Arial, serif;
            	font-size: 10px;
            }
          }
        }
      }
      &:hover  .mejs-captions-selector {
      	visibility: visible;
      }
      .mejs-captions-translations {
      	font-size: 10px;
      	margin: 0 0 5px 0;
      }
    }
  }
  // Time (Current / Duration)
  .mejs-time {
  	color: #fff;
  	display: block;
  	height: 17px;
  	width: auto;
  	padding: 10px 3px 0 3px ;
  	overflow: hidden;
  	text-align: center;
  	box-sizing: content-box;
    a {
    	font-size: 11px;
    	line-height: 12px;
    	display: block;
    	float: left;
    	margin: 1px 2px 0 0;
    	width: auto;
    }
  }
  // Progress Bar
  div.mejs-time-rail {
    direction: ltr;
    height: 100%;
  	width: 200px;
    background: $bgcolor;
    span, a {
    	display: block;
    	position: absolute;
    	width: 180px;
    	height: 10px;
    	cursor: pointer;
    }
    .mejs-time-total {
      margin: 11px;
    	background: $bgcolorlight;
      &:focus {
        outline: 0;
      }
    }
    .mejs-time-buffering {
      width: 100%;
      background: $bgcolorlight;
      z-index: 1;
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-size: 10px 9px;
      animation: buffering-stripes 2s linear infinite;
    }
    .mejs-time-loaded {
    	background: $bgcolorlight;
    	width: 0;
    }
    .mejs-time-current {
      width: 0;
      background: #fff;
      background-size: 10px 10px;
      z-index: 1;
    }
    .mejs-time-handle {
    	display: none;
    	position: absolute;
    	margin: 0;
    	width: 5px;
    	background: #fff;
    	border-radius: 5px;
    	cursor: pointer;
    	border: solid 2px #333;
    	top: 0;
    	text-align: center;
    }
    .mejs-time-float {
    	position: absolute;
    	display: none;
    	background: #fff;
    	width: 44px;
    	height: 17px;
    	top: -26px;
    	margin-left: -22px;
    	text-align: center;
    	color: #000;
    }
    .mejs-time-float-current {
      margin: 4px;
      width: 36px;
      display: block;
      text-align: center;
      left: 0;
    }
    .mejs-time-float-corner {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      line-height: 0;
      border: solid 4px #fff;
      border-color: #fff transparent transparent transparent;
      border-radius: 0;
      top: 17px;
      left: 18px;
    }
  }
}

.no-svg {
  .mejs-controls {
    .mejs-button {
      button {
      	background-image: url("controls.png");
      }
    }
  }
}

.mejs-long-video {
  .mejs-controls {
    .mejs-time-rail {
      .mejs-time-float {
      	width: 48px;
      }
      .mejs-time-float-current {
      	width: 44px;
      }
      .mejs-time-float-corner {
      	left: 18px;
      }
    }
  }
}



// Track (Captions and Chapters)
.mejs-chapters {
	position: absolute;
	top: 0;
	left: 0;
	border-right: solid 1px #fff;
	width: 10000px;
	z-index: 1;
  .mejs-chapter {
  	position: absolute;
  	float: left;
  	background: #222;
  	background: rgba(0, 0, 0, 0.7);
  	background: linear-gradient(rgba(50,50,50,0.7), rgba(0,0,0,0.7));
  	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#323232,endColorstr=#000000);
  	overflow: hidden;
  	border: 0;
    .mejs-chapter-block {
    	font-size: 11px;
    	color: #fff;
    	padding: 5px;
    	display: block;
    	border-right: solid 1px #333;
    	border-bottom: solid 1px #333;
    	cursor: pointer;
      .ch-title {
      	font-size: 12px;
      	font-weight: bold;
      	display: block;
      	white-space: nowrap;
      	text-overflow: ellipsis;
      	margin: 0 0 3px 0;
      	line-height: 12px;
      }
      .ch-timespan {
      	font-size: 12px;
      	line-height: 12px;
      	margin: 3px 0 4px 0;
      	display: block;
      	white-space: nowrap;
      	text-overflow: ellipsis;
      }
    }
    .mejs-chapter-block-last {
    	border-right: none;
    }
    .mejs-chapter-block:hover {
    	background: #666;
    	background: rgba(102,102,102, 0.7);
    	background: linear-gradient(rgba(102,102,102,0.7), rgba(50,50,50,0.6));
    	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr=#666666,endColorstr=#323232);
    }
  }
}

.mejs-captions-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align:center;
	line-height: 20px;
	font-size: 16px;
	color: #fff;
  a {
  	color: #fff;
  	text-decoration: underline;
  }
  &[lang=ar] {
  	font-size: 20px;
  	font-weight: normal;
  }
}
.mejs-captions-position {
	position: absolute;
	width: 100%;
	bottom: 15px;
	left: 0;
}
.mejs-captions-position-hover {
	bottom: 35px;
}
.mejs-captions-text {
	padding: 0;
	background: url("background.png");
	background: rgba(20, 20, 20, 0.5);
	white-space: pre-wrap;
	box-shadow: 5px 0 0 rgba(20, 20, 20, 0.5), -5px 0 0 rgba(20, 20, 20, 0.5);
}

// Error
.me-cannotplay {
  a {
  	color: #fff;
  	font-weight: bold;
  }
  span {
  	padding: 15px;
  	display: block;
  }
}


// Context Menu
.mejs-contextmenu {
	position: absolute;
	width: 150px;
	padding: 10px;
	border-radius: 4px;
	top: 0;
	left: 0;
	background: #fff;
	border: solid 1px #999;
	z-index: 1001; /* make sure it shows on fullscreen */
  .mejs-contextmenu-separator {
  	height: 1px;
  	font-size: 0;
  	margin: 5px 6px;
  	background: #333;
  }
  .mejs-contextmenu-item {
  	font-family: "Helvetica", Arial, serif;
  	font-size: 12px;
  	padding: 4px 6px;
  	cursor: pointer;
  	color: #333;
    &:hover {
    	background: #2C7C91;
    	color: #fff;
    }
  }
}

// Postroll
.mejs-postroll-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("background.png");
	background: rgba(50,50,50,0.7);
	z-index: 1000;
	overflow: hidden;
}
.mejs-postroll-layer-content {
	width: 100%;
	height: 100%;
}
.mejs-postroll-close {
	position: absolute;
	right: 0;
	top: 0;
	background: url("background.png");
	background: rgba(50,50,50,0.7);
	color: #fff;
	padding: 4px;
	z-index: 100;
	cursor: pointer;
}

// Speed
div.mejs-speed-button {
	width: 46px !important;
	position: relative;
}
.mejs-controls {
  .mejs-button {
    &.mejs-speed-button button {
    	background: transparent;
    	width: 36px;
    	font-size: 11px;
    	line-height: normal;
    	color: #ffffff;
    }
  }
  .mejs-speed-button {
    .mejs-speed-selector {
    	display: none;
    	position: absolute;
    	top: -100px;
    	left: -10px;
    	width: 60px;
    	height: 100px;
    	background: url("background.png");
    	background: rgba(50, 50, 50, 0.7);
    	border: solid 1px transparent;
    	padding: 0;
    	overflow: hidden;
    	-webkit-border-radius: 0;
    	-moz-border-radius: 0;
    	border-radius: 0;
      ul {
        margin: 0;
      	padding: 0;
      	display: block;
      	list-style-type: none !important;
      	overflow: hidden;
        li {
          margin: 0 0 6px 0;
          padding: 0 10px;
          list-style-type: none !important;
          display: block;
          color: #fff;
          overflow: hidden;
          label{
            width: 60px;
          	float: left;
          	padding: 4px 0 0 0;
          	line-height: 15px;
          	font-family: "Helvetica", Arial, serif;
          	font-size: 11px;
          	color: white;
          	margin-left: 5px;
          	cursor: pointer;
            &.mejs-speed-selected {
            	color: rgba(33, 248, 248, 1);
            }
          }
          input {
          	clear: both;
          	float: left;
          	margin: 3px 3px 0 5px;
          	display: none;
          }
          &:hover {
          	background-color: rgb(200, 200, 200) !important;
          	background-color: rgba(255,255,255,.4) !important;
          }
        }
      }
    }
    &:hover > .mejs-speed-selector {
    	display: block;
    }
  }
}

// Keyframes
@keyframes load {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
@-webkit-keyframes load {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
@-webkit-keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 0;
  }
}
@keyframes buffering-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 0;
  }
}
