{ "value":"" , "label":"Default" , "default":true },
{ "value":"left top" , "label":"Left / Top" },
{ "value":"left center" , "label":"Left / Center" },
{ "value":"left bottom" , "label":"Left / Bottom" },
{ "value":"center top" , "label":"Center / Top" },
{ "value":"center center" , "label":"Center / Center" },
{ "value":"center bottom" , "label":"Center / Bottom" },
{ "value":"right top" , "label":"Right / Top" },
{ "value":"right center" , "label":"Right / Center" },
{ "value":"right bottom" , "label":"Right / Bottom" }
