{ "value":"" , "label":"Normal" , "default":true },
{ "value":"multiply" , "label":"Multiply" },
{ "value":"screen" , "label":"Screen" },
{ "value":"overlay" , "label":"Overlay" },
{ "value":"darken" , "label":"Darken" },
{ "value":"lighten" , "label":"Lighten" },
{ "value":"color-dodge" , "label":"Color Dodge" },
{ "value":"color-burn" , "label":"Color Burn" },
{ "value":"hard-light" , "label":"Hard Light" },
{ "value":"soft-light" , "label":"Soft Light" },
{ "value":"difference" , "label":"Difference" },
{ "value":"exclusion" , "label":"Exclusion" },
{ "value":"hue" , "label":"Hue" },
{ "value":"saturation" , "label":"Saturation" },
{ "value":"color" , "label":"color" },
{ "value":"luminosity" , "label":"Luminosity" }
