{ "value":"" , "label":"None" , "default":true },
{ "value":"hidden-xl-down" , "label":"Hidden" },
{ "value":"hidden-lg-down" , "label":"Hidden on pad landscape and down (1200px)" },
{ "value":"hidden-md-down" , "label":"Hidden on pad portrait and down (1024px) " },
{ "value":"hidden-sm-down" , "label":"Hidden on mobile landscape and down (768px) " },
{ "value":"hidden-down" , "label":"Hidden on mobile portrait (544px)" },
{ "value":"hidden-sm-up" , "label":"Visible on mobile portrait and down (below 544px)" },
{ "value":"hidden-md-up" , "label":"Visible on mobile landscape and down (544px)" },
{ "value":"hidden-lg-up" , "label":"Visible on pad portrait and down (768px)" },
{ "value":"hidden-xl-up" , "label":"Visible on pad landscape and down (1024px)" }
