<div class="{% if entry.topAligned %}pull-top{% else %}pt-5{% endif %}">
{% for row in entry.postContent.level(1) %}

  	{% if row.rowBgColor|trim|length %}
  		<div class="container-bg mx-0 px-0 {% if row.pullUpBelow %} pull-up-bottom-bg{% endif %} {% if row.imageFile|length %} lazyload{% endif %}"
            {% if row.imageFile|length %} data-bgset="{{ row.imageFile.first().url }}" data-sizes="auto"{% endif %} style="
            background-color: {{ row.rowBgColor }};
            {% if row.backgroundPosition|length %}
                background-position: {{ row.backgroundPosition }};
            {% endif %}
            {% if row.backgroundRepeat|length %}
                background-repeat: {{ row.backgroundRepeat }};
            {% endif %}
            {% if row.backgroundSize|length %}
                background-size: {{ row.backgroundSize }};
            {% endif %}
            {% if row.rowTextColor|trim|length %}
                color:{{ row.rowTextColor }};
            {% endif %}">
  	{% elseif row.rowTextColor|trim|length %}
  		<div class="mx-0 px-0{% if row.imageFile|length %} lazyload{% endif %}"
            {% if row.imageFile|length %} data-bgset="{{ row.imageFile.first().url }}" data-sizes="auto"{% endif %} style="
                {% if row.backgroundPosition|length %}
                    background-position: {{ row.backgroundPosition }};
                {% endif %}
                {% if row.backgroundRepeat|length %}
                    background-repeat: {{ row.backgroundRepeat }};
                {% endif %}
                {% if row.backgroundSize|length %}
                    background-size: {{ row.backgroundSize }};
                {% endif %}
            color:{{ row.rowTextColor }};">
    {% elseif row.imageFile|length %}
  		<div class="mx-0 px-0 lazyload" data-bgset="{{ row.imageFile.first().url }}" data-sizes="auto" style="
            {% if row.backgroundPosition|length %}
                background-position: {{ row.backgroundPosition }};
            {% endif %}
            {% if row.backgroundRepeat|length %}
                background-repeat: {{ row.backgroundRepeat }};
            {% endif %}
            {% if row.backgroundSize|length %}
                background-size: {{ row.backgroundSize }};
            {% endif %}
            {% if row.rowTextColor|trim|length %}
                color:{{ row.rowTextColor }};
            {% endif %}">
  	{% endif %}
    <div class="container-fluid{% if row.pullUpBelow and not row.rowBgColor|trim|length %} pull-up-bottom-row{% endif %}">
  	{% if row.rowType == 'normal' %}
  		<div class="row{% if row.classes|length %} {{ row.classes }}{% endif %}">
  	{% elseif row.rowType == 'masonry' %}
  		<div class="row packery{% if row.classes|length %} {{ row.classes }}{% endif %}">
  	{% endif %}

  				{% for item in row.children %}
  					{% switch item.type.handle %}
  						{% case 'text' %}
      						<div class="{% include '_includes/col_classes' %}"{% if item.style|length %} style="{{ item.style }}"{% endif %}>
      							<div class="hv-item {{ item.moveHorizontal }} {{ item.moveVertical }}" style="z-index: {{ item.layer }};">
      								<div class="move">
                                        <div class="slide">
                                            {% include '_blocks/text' %}
                                        </div>
      								</div>
      							</div>
      						</div>

  						{% case 'image' %}
      						<div class="{% include '_includes/col_classes' %}"{% if item.style|length %} style="{{ item.style }}"{% endif %}>
      							<div class="hv-item {{ item.moveHorizontal }} {{ item.moveVertical }}" style="z-index: {{ item.layer }};">
      								<div class="move">
                                        <div class="slide">
                                            {% include '_blocks/image' %}
                                            {% for overlay in item.children if overlay.type.handle == 'overlayContent' %}
                                                {% include '_layouts/overlay' %}
                                        	{% endfor %}
                                        </div>
      								</div>
      							</div>
      						</div>

  						{% case 'video' %}
      						<div class="{% include '_includes/col_classes' %}"{% if item.style|length %} style="{{ item.style }}"{% endif %}>
      							<div class="hv-item {{ item.moveHorizontal }} {{ item.moveVertical }}" style="z-index: {{ item.layer }};">
      								<div class="move">
                                        <div class="slide">
                                            {% include '_blocks/video' %}
                                            {% for overlay in item.children if overlay.type.handle == 'overlayContent' %}
                                                {% include '_layouts/overlay' %}
                                        	{% endfor %}
                                        </div>
      								</div>
      							</div>
      						</div>

                        {% case 'videoLoop' %}
      						<div class="{% include '_includes/col_classes' %}"{% if item.style|length %} style="{{ item.style }}"{% endif %}>
      							<div class="hv-item {{ item.moveHorizontal }} {{ item.moveVertical }}" style="z-index: {{ item.layer }};">
      								<div class="move">
                                        <div class="slide">
                                            {% include '_blocks/video_loop' %}
                                            {% for overlay in item.children if overlay.type.handle == 'overlayContent' %}
                                                {% include '_layouts/overlay' %}
                                        	{% endfor %}
                                        </div>
      								</div>
      							</div>
      						</div>

  						{% case 'slideshow' %}
      						<div class="{% include '_includes/col_classes' %}"{% if item.style|length %} style="{{ item.style }}"{% endif %}>
      							<div class="hv-item {{ item.moveHorizontal }} {{ item.moveVertical }}" style="z-index: {{ item.layer }};">
      								<div class="move">
                                        <div class="slide">
                                            {% include '_blocks/slideshow' %}
                                            {% for overlay in item.children if overlay.type.handle == 'overlayContent' %}
                                                {% include '_layouts/overlay' %}
                                        	{% endfor %}
                                        </div>
      								</div>
      							</div>
      						</div>

                        {% case 'thumbnail' %}
                            {% include '_blocks/thumbnail' %}

                        {% case 'taxonomy' %}
                            {% include '_blocks/entries' %}

                        {% case 'structure' %}
                            {% include '_blocks/structure' %}

                        {% case 'channel' %}
                            {% include '_blocks/channel' %}

                        {% case 'spacer' %}
  							{% include '_blocks/spacer' %}

  						{% case 'separator' %}
  							{% include '_blocks/separator' %}

  						{% case 'clear' %}
  							<div class="clearfix col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>

                        {% case 'code' %}
                            <div class="{% include '_includes/col_classes' %}"{% if item.style|length %} style="{{ item.style }}"{% endif %}>
                                <div class="hv-item {{ item.moveHorizontal }} {{ item.moveVertical }}" style="z-index: {{ item.layer }};">
                                    <div class="move">
                                        <div class="slide">
                                            {% include '_blocks/code' %}
                                        </div>
                                    </div>
                                </div>
                            </div>

  					{% endswitch %}
  				{% endfor %}

  			</div>
        </div>

  		{% if row.rowBgColor|trim|length %}</div>{% elseif row.rowTextColor|trim|length %}</div>{% endif %}

{% endfor %}
{% if craft.request.getSegment(2)|length %}
    {% include '_includes/nextprev' %}
{% endif %}
</div>
