<div class="container-fluid push-top">
    <div class="row">
        <div class="col-12 pb-0">
            <div class="slide">
                <hr class="my-0" style="border-top-width: 1px;">
            </div>
        </div>
        <div class="col-12 col-md-6 py-0">
            <div class="row">
                <div class="col-12 col-xl-6 pb-0">
                    <div class="slide">
                        <h5>{{ entry.dateCreated|date("M d") }}, {{ entry.dateCreated|date("Y") }}</h5>
                    </div>
                </div>
                <div class="col-12 col-xl-6 pb-0">
                    <div class="slide">
                        <h5><a href="{{ entry.url }}">{{ entry.title }}</a></h5>
                    </div>
                    {% if entry.tags|length %}
                    <div class="slide pt-1">
                        {% for tag in entry.tags %}
                        <div class="d-block">
                            — {{ tag.title }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 py-0">
            <div class="row">
                {% for item in entry.channelPostContent.level(1) %} {% switch item.type.handle %} {% case 'text' %}
                <div class="col-12">
                    <div class="slide">
                        {% include '_blocks/text' %}
                    </div>
                </div>

                {% case 'image' %}
                <div class="col-12">
                    <div class="slide">
                        {% include '_blocks/image' %}
                    </div>
                </div>

                {% case 'video' %}
                <div class="col-12">
                    <div class="slide">
                        {% include '_blocks/video' %}
                    </div>
                </div>

                {% case 'videoLoop' %}
                <div class="col-12">
                    <div class="slide">
                        {% include '_blocks/video_loop' %}
                    </div>
                </div>

                {% case 'slideshow' %}
                <div class="col-12">
                    <div class="slide">
                        {% include '_blocks/slideshow' %}
                    </div>
                </div>

                {% endswitch %} {% endfor %}
            </div>
        </div>
    </div>
</div>
