<div class="container-fluid pt-3">
  <div class="row">
    <div class="col-xs-12 pb-0">
      <div class="hv-item">
        <hr class="my-0" style="border-top-width: 1px;">
      </div>
    </div>
    <div class="col-xs-12 col-md-6 py-0">
      <div class="row">
        <div class="col-xs-12 col-xl-6 pb-0">
          <div class="hv-item">
            <h5>{{ entry.dateCreated|date("M d") }}, {{ entry.dateCreated|date("Y") }}</h5>
          </div>
        </div>
        <div class="col-xs-12 col-xl-6 pb-0">
          <div class="hv-item">
            <h5><a href="{{ entry.url }}">{{ entry.title }}</a></h5>
          </div>
          {% if entry.tags|length %}
            <div class="hv-item pt-1">
              {% for tag in entry.tags %}
                <div class="d-block">
                  — {{ tag.title }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 py-0">
      <div class="row">
        {% for item in entry.channelPostContent.level(1) %}
            {% set blockOpen %}
                <div class="col-xs-12">
                    {% if interface.slideObjectsIntoView %}<div class="slide-object">{% endif %}
                        <div class="hv-item">
            {% endset %}
            {% set blockClose %}
                        </div>
                    {% if interface.slideObjectsIntoView %}</div>{% endif %}
                </div>
            {% endset %}

    		{% switch item.type.handle %}

    			{% case 'text' %}
                    {{ blockOpen }}
                        {% include '_blocks/text' %}
                    {{ blockClose }}

    			{% case 'image' %}
                    {{ blockOpen }}
                        {% include '_blocks/image' %}
                    {{ blockClose }}

    			{% case 'video' %}
                    {{ blockOpen }}
                        {% include '_blocks/video' %}
                    {{ blockClose }}

                {% case 'videoLoop' %}
                    {{ blockOpen }}
                        {% include '_blocks/video_loop' %}
                    {{ blockClose }}

    			{% case 'slideshow' %}
                    {{ blockOpen }}
                        {% include '_blocks/slideshow' %}
                    {{ blockClose }}

    		{% endswitch %}
        {% endfor %}

        {# {% if craft.request.getSegment(2)|length %}
          {% include '_includes/nextprev' %}
        {% endif %} #}
      </div>
    </div>
  </div>
</div>
