{% set transform = 'large' %}
{% set slides = entry.postCover.slides %}

{% set type = entry.postCover.slideshowType %}
{% set height = entry.postCover.height %}
{% set transition = entry.postCover.transition %}
{% set autoplay = entry.postCover.autoplay %}
{% set showCaption = entry.postCover.showCaption %}
{% set align = entry.postCover.captionAlign %}

<div id="cover-space" class="vh-{{ height }}">
	<div class="royalSlider rsDefault cover-slideshow {% if type == "visibleNearby" %}visibleNearby{% else %}fullscreen{% endif %}" data-slideshow-transition-type="{{ transition }}" data-slideshow-autoplay="{{ autoplay }}" data-slideshow-type="{{ type }}" data-slide-caption-align="{{ align }}" data-slideshow-caption="{{ showCaption }}">

		{% for block in entry.postCover.slides %}

				{% for image in block.file.kind('image') %}
					{% set rsw = image.getWidth(transform) %}
					{% set rsh = image.getHeight(transform) %}
					<div>
						<img class="notme rsImg" src="{{ image.getUrl(transform) }}" {# alt="{{ block.slideTitle }}" #} data-rsw="{{ rsw }}" data-rsh="{{ rsh }}">
						{% if showCaption == "1" %}
							<div class="rsCaption">
								<h6>{{ block.slideTitle }}</h6>
								<h6>{{ block.slideText }}</h6>
							</div>
						{% endif %}
					</div>
				{% endfor %}

		{% endfor %}

	</div>
</div>
