{% set image = item.imageFile.first() %}
{% set shadow = item.shadow %}
{% set bleed = item.bleed %}
{% set text = item.text %}
{% set transform = 'large' %}
{% set maxHeight = item.maxHeight %}

{% set originalWidth = image.getWidth(false) %}
{% set transformedWidth = image.getWidth(transform) %}
{% if transformedWidth < originalWidth %}
  {% set imageOutput = image.getUrl(transform) %}
{% else %}
  {% set imageOutput = image.getUrl() %}
{% endif %}

<div class="image-holder{% if shadow %} shadow{% endif %}{% if bleed|length %} {{ bleed }}{% endif %}">
  {% if maxHeight|length %}
    <div class="img-bg" style="background: url({{ imageOutput }}) center no-repeat; background-size: cover; height: {{ maxHeight }}vh;"></div>
  {% else %}
    <img class="img-fluid" src="{{ imageOutput }}" data-width="{{ image.getWidth(transform) }}" data-height="{{ image.getHeight(transform) }}">
  {% endif %}
</div>
{% if text|raw|length %}
  <div class="text-xs-center pt-2 a-7">
    {{ text|raw }}
  </div>
{% endif %}
