{ "value":"h-g-0" , "label":"None" , "default":true },
{ "value":"h-n-g-20" , "label":"Negative Gutter * 20" },
{ "value":"h-n-g-19" , "label":"Negative Gutter * 19" },
{ "value":"h-n-g-18" , "label":"Negative Gutter * 18" },
{ "value":"h-n-g-17" , "label":"Negative Gutter * 17" },
{ "value":"h-n-g-16" , "label":"Negative Gutter * 16" },
{ "value":"h-n-g-15" , "label":"Negative Gutter * 15" },
{ "value":"h-n-g-14" , "label":"Negative Gutter * 14" },
{ "value":"h-n-g-13" , "label":"Negative Gutter * 13" },
{ "value":"h-n-g-12" , "label":"Negative Gutter * 12" },
{ "value":"h-n-g-11" , "label":"Negative Gutter * 11" },
{ "value":"h-n-g-10" , "label":"Negative Gutter * 10" },
{ "value":"h-n-g-9" , "label":"Negative Gutter * 9" },
{ "value":"h-n-g-8" , "label":"Negative Gutter * 8" },
{ "value":"h-n-g-7" , "label":"Negative Gutter * 7" },
{ "value":"h-n-g-6" , "label":"Negative Gutter * 6" },
{ "value":"h-n-g-5" , "label":"Negative Gutter * 5" },
{ "value":"h-n-g-4" , "label":"Negative Gutter * 4" },
{ "value":"h-n-g-3" , "label":"Negative Gutter * 3" },
{ "value":"h-n-g-2" , "label":"Negative Gutter * 2" },
{ "value":"h-n-g-1" , "label":"Negative Gutter * 1" },
{ "value":"h-g-1" , "label":"Positive Gutter * 1" },
{ "value":"h-g-2" , "label":"Positive Gutter * 2" },
{ "value":"h-g-3" , "label":"Positive Gutter * 3" },
{ "value":"h-g-4" , "label":"Positive Gutter * 4" },
{ "value":"h-g-5" , "label":"Positive Gutter * 5" },
{ "value":"h-g-6" , "label":"Positive Gutter * 6" },
{ "value":"h-g-7" , "label":"Positive Gutter * 7" },
{ "value":"h-g-8" , "label":"Positive Gutter * 8" },
{ "value":"h-g-9" , "label":"Positive Gutter * 9" },
{ "value":"h-g-10" , "label":"Positive Gutter * 10" },
{ "value":"h-g-11" , "label":"Positive Gutter * 11" },
{ "value":"h-g-12" , "label":"Positive Gutter * 12" },
{ "value":"h-g-13" , "label":"Positive Gutter * 13" },
{ "value":"h-g-14" , "label":"Positive Gutter * 14" },
{ "value":"h-g-15" , "label":"Positive Gutter * 15" },
{ "value":"h-g-16" , "label":"Positive Gutter * 16" },
{ "value":"h-g-17" , "label":"Positive Gutter * 17" },
{ "value":"h-g-18" , "label":"Positive Gutter * 18" },
{ "value":"h-g-19" , "label":"Positive Gutter * 19" },
{ "value":"h-g-20" , "label":"Positive Gutter * 20" }
