{ "value":"f-v-n-24" , "label":"-24/24" },
{ "value":"f-v-n-23" , "label":"-23/24" },
{ "value":"f-v-n-22" , "label":"-22/24" },
{ "value":"f-v-n-21" , "label":"-21/24" },
{ "value":"f-v-n-20" , "label":"-20/24" },
{ "value":"f-v-n-19" , "label":"-19/24" },
{ "value":"f-v-n-18" , "label":"-18/24" },
{ "value":"f-v-n-17" , "label":"-17/24" },
{ "value":"f-v-n-16" , "label":"-16/24" },
{ "value":"f-v-n-15" , "label":"-15/24" },
{ "value":"f-v-n-14" , "label":"-14/24" },
{ "value":"f-v-n-13" , "label":"-13/24" },
{ "value":"f-v-n-12" , "label":"-12/24" },
{ "value":"f-v-n-11" , "label":"-11/24" },
{ "value":"f-v-n-10" , "label":"-10/24" },
{ "value":"f-v-n-9" , "label":"-9/24" },
{ "value":"f-v-n-8" , "label":"-8/24" },
{ "value":"f-v-n-7" , "label":"-7/24" },
{ "value":"f-v-n-6" , "label":"-6/24" },
{ "value":"f-v-n-5" , "label":"-5/24" },
{ "value":"f-v-n-4" , "label":"-4/24" },
{ "value":"f-v-n-3" , "label":"-3/24" },
{ "value":"f-v-n-2" , "label":"-2/24" },
{ "value":"f-v-n-1" , "label":"-1/24" },
{ "value":"f-v-0" , "label":"None" , "default":true },
{ "value":"f-v-1" , "label":"1/24" },
{ "value":"f-v-2" , "label":"2/24" },
{ "value":"f-v-3" , "label":"3/24" },
{ "value":"f-v-4" , "label":"4/24" },
{ "value":"f-v-5" , "label":"5/24" },
{ "value":"f-v-6" , "label":"6/24" },
{ "value":"f-v-7" , "label":"7/24" },
{ "value":"f-v-8" , "label":"8/24" },
{ "value":"f-v-9" , "label":"9/24" },
{ "value":"f-v-10" , "label":"10/24" },
{ "value":"f-v-11" , "label":"11/24" },
{ "value":"f-v-12" , "label":"12/24" },
{ "value":"f-v-13" , "label":"13/24" },
{ "value":"f-v-14" , "label":"14/24" },
{ "value":"f-v-15" , "label":"15/24" },
{ "value":"f-v-16" , "label":"16/24" },
{ "value":"f-v-17" , "label":"17/24" },
{ "value":"f-v-18" , "label":"18/24" },
{ "value":"f-v-19" , "label":"19/24" },
{ "value":"f-v-20" , "label":"20/24" },
{ "value":"f-v-21" , "label":"21/24" },
{ "value":"f-v-22" , "label":"22/24" },
{ "value":"f-v-23" , "label":"23/24" },
{ "value":"f-v-24" , "label":"24/24" }
