{ "value":"" , "label":"Center middle on thumbnail" , "default":true },
{ "value":"middleLeftOn" , "label":"Left middle on thumbnail" },
{ "value":"middleRightOn" , "label":"Right middle on thumbnail" },
{ "value":"topCenterOn" , "label":"Top center on thumbnail" },
{ "value":"topLeftOn" , "label":"Top left on thumbnail" },
{ "value":"topRightOn" , "label":"Top right on thumbnail" },
{ "value":"bottomCenterOn" , "label":"Bottom center on thumbnail" },
{ "value":"bottomLeftOn" , "label":"Bottom left on thumbnail" },
{ "value":"bottomRightOn" , "label":"Bottom right on thumbnail" },
{ "value":"aboveCenter" , "label":"Center above thumbnail" },
{ "value":"aboveLeft" , "label":"Left above thumbnail" },
{ "value":"aboveRight" , "label":"Right above thumbnail" },
{ "value":"belowCenter" , "label":"Center below thumbnail" },
{ "value":"belowLeft" , "label":"Left below thumbnail" },
{ "value":"belowRight" , "label":"Right below thumbnail" }
